.circlegray{

	width: 80px;

	height: 80px;

	border-radius: 50%;

	background: gray;

}

.circlered{
	width: 80px;

	height: 80px;

	border-radius: 50%;

	background: red;
}
.circlegreen{
	width: 80px;

	height: 80px;

	border-radius: 50%;

	background: green;
}

.circleyellow{
	width: 80px;

	height: 80px;

	border-radius: 50%;

	background: yellow;
}

h1 {color: rgb(225, 182, 65); }

/*body { 	background-color: black }*/

.contents {
display: flex;
}

div div {

  display: inline-block;

}
